body {
	background-image: url(maderaRegistro.jpg);
}

#general {
	width: 905px;
	margin: 15px auto; 
	text-align: center;	
}

#cabecera {
	width: 860px;
	height: 175px;
	background-image: url(imagenCabecera.gif);
	border: 1px solid #999999;
	padding: 20px;
	box-shadow: 1px 1px 1px #000000;
}

#nombre {
	font: bold 54px verdana, sans-serif;
	color: white;
}

#DATOS {
	padding-left: 50px;
	color: white;
	font: bold 14px verdana, sans-serif;
	background-image: url(segundaCabecera.jpg);
	width: 27.5%;
	text-align: left;
	margin-left: 10%;
}

#tabla1 {
	margin-left: 10%;
	background-image: url(segundaCabecera.jpg);
	text-align: left;
	width: 33%;
}

#foto {
	text-align: center;
	display: inline-block;
	width: 38%;
	float: right;
	margin-right: 30px;
	margin-top: -160px;
	/*rotar imagenes*/
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}



#Carnet {
	width: 100%;
	margin-bottom: 200px;
	box-shadow: 1px 1px 1px brown;
	border-radius: 10%;
}


